body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

header {
    display: inline-flexbox;
    background-color: aquamarine;
    background-image: url("../images/BaconGallupPark.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 15%;
    color: white;
    margin-bottom: 5%;
}

.skip-to-content {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
    z-index: -1;
    text-decoration: none;
}

.skip-to-content:focus {
    clip: auto;
    clip-path: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #ddd;
    outline: none;
}

nav {
    background-color: aqua;
    display: inline-block;
    width: 100%;
}

nav li {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav img{
    width: 10%;
}

h1 {
    text-align: center;
    font-family: cursive;
    color: red;
    background-color: rgba(105, 105, 105, 0.5);
    margin-left: 20%;
    margin-right: 20%;
}

main {
    background-color: antiquewhite;
    font-size: 15px;
    margin-bottom: 10%;
}

div img:hover{
    border: 5px solid blue;
    transition: border 1s;
}

div img:active{
    border: 5px solid aquamarine;
    transition: border .5s;
}

main p {
    line-height: 120%;
    font-size: 150%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    align-items: end;
    justify-content: space-evenly;
    row-gap: 10%;
    column-gap: 5%;
}

.grid-item{
    width: 80%;
    height: 100%;
    justify-content: space-around;
    align-content: end;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

img:nth-child(n){
    border: 5px solid brown;
    border-radius: 10px;
}

footer {
    background-color: darkgray;
    text-align: center;
    padding: 10px;
    margin-top: 5%;
}
