body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

header {
    background-color: aquamarine;
}

nav {
    background-color: aqua;
    display: inline-block;
    width: 80%;
}

main {
    background-color: antiquewhite;
    font-size: 15px;
}

footer {
    background-color: chartreuse;
}

/* li {
    display: block;
    width: 50%;
} */

h1 {
    text-align: center;
    font-family: cursive;
    color: red;
}

p {
    line-height: 120%;
}

nav img{
    width: 10%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    align-items: start;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10%;
}

.grid-item{
    width: 100%;
}

.flex-container{
    flex-wrap: wrap-reverse;
    justify-content: center;
}
